@import url('https://fonts.googleapis.com/css2?family=Antonio&family=Oswald&display=swap');

:root {
    --cor-principal: #564a9e;
    --cor-secundaria: #AFA5D9;
    --cor-texto: #d9d9d9;
    --cor-titulo: #FFFFFF;
    --fonte-titulo: 'Antonio', sans-serif;
    --fonte-texto: 'Oswald', sans-serif;
  }

  *{
    
  
    text-decoration: none;
}
.contain{
    max-width: 1170px;
    margin: auto;
}
.linha{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
.footer{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--cor-principal);
    padding: 70px 0;
    
}
.footer-col{
    width: 23%;
    padding: 0;
    padding-left: 12px;
}
.footer-col h4{
    font-size: 22px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
    font-family: var(--fonte-titulo);
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #ff84e2;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
    margin-left: -40px;
    font-family: var(--fonte-texto);
}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: #bbbbbb5e;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
    color: var(--cor-principal);
    background-color: #ffffff;
}

@media(max-width: 767px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
        padding-left: 6px;
    }
}
@media(max-width: 574px){
    .footer-col{
        width: 100%;
    }
}