@import url('https://fonts.googleapis.com/css2?family=Antonio&family=Oswald&display=swap');

:root {
    --cor-principal: #564a9e;
    --cor-texto: #d9d9d9;
    --cor-titulo: #FFFFFF;
    --fonte-titulo: 'Antonio', sans-serif;
    --fonte-texto: 'Oswald', sans-serif;
  }
.pesquisa input[type="text"]{
    width: 40%;
    margin: 0 auto;
    border: 1px solid #000000;
    height: 40px;
    color: #333333;
    font-family: var(--fonte-titulo);
    font-size: 18px;
    padding-left: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.pesquisa select{
    width: 25%;
    border: 1px solid #000000;
    height: 40px;
    color: #333333;
    font-family: var(--fonte-titulo);
    font-size: 18px;
    padding-left: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.pesquisa input[type="submit"]{
    background-color: var(--cor-principal);
    width: 100px;
    height: 40px;
    border: 1px solid #000000;
    color: var(--cor-titulo);
    font-family: var(--fonte-titulo);
    font-size: 18px;
    padding-left: 10px;
    margin-left: -5px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.card_psicologo {
    margin-top: 80px;
    background: var(--cor-principal);
    width: 1120px;
    height: 520px;
    border-radius: 40px;
    display: flex;
    flex-direction: row;
    box-shadow: 10px 10px 15px #333333be;
    cursor: pointer;
}
.card_psicologo div.coluna{
    display: flex;
    flex-direction: column;
}
.card_psicologo img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 60px;
    margin-left: 60px;
    margin-right: 60px;
    display: flex;
    flex-direction: column;
}
.card_psicologo .coluna .chat{
    background: var(--cor-principal);
    border: 3px solid #FFFFFF;
    width: 90px;
    height: 40px;
    font-size: 20px;
    color: var(--cor-texto);
    border-radius: 10px;
    margin-left: 110px;
    margin-top: 80px;
    cursor: pointer;
    transition: 0.6s ease;
}
.card_psicologo .coluna2{
    display: flex;
    flex-direction: column;
}
.card_psicologo .coluna2 .nome{
    font-family: var(--fonte-titulo);
    color: var(--cor-titulo);
    font-size: 48px;
    margin-bottom: -8px;
}
.card_psicologo .coluna2 .info{
    color: var(--cor-texto);
    font-size: 18px;
    font-family: var(--fonte-texto);
    line-height: -8px;
}
.card_psicologo .coluna2 hr{
    border: 3;
	border-top: 1px solid #ffffff;
    width: 600px;
}
.card_psicologo .coluna2 .texto{
    color: var(--cor-texto);
    font-size: 18px;
    font-family: var(--fonte-texto);
    padding-right: 20px;
}
.card_psicologo .coluna .chat:hover{
    background: var(--cor-titulo);
    color: var(--cor-principal);
}
